body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  visibility: hidden;
}
a {
  color: #00b7ff;
}
h1 {
  margin-top: 0;
  position: relative;
}
#ui{
  text-align: center;
}
#screenshot{
  margin-bottom: 15px;
}
input[type="text"] {
  width:300px;
  display: inline-block;
}


.ui-slider {
  margin-top: 10px;
}
.btn-primary[disabled],
.ui-slider-disabled .ui-slider-range,
.ui-slider-disabled .ui-slider-handle {
  background-color: #cdcdcd;
}
.select,
.select .dropdown-toggle {
  width: 100%;
}
.btn-primary-highlight,
.btn-primary-highlight:hover {
  background-color: #f00;
}
#bt_connect {
  position: absolute;
  right: 0;
  top: 20px;
}
#container.disabled {
  opacity: 0.5;
}
label.checkbox {
  margin-bottom: 20px;
}
.comp-row {
  margin: 0 auto;
}
.comp-row:before,
.comp-row:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.comp-row:after {
  clear: both;
}
.comp-title {
  float: left;
  width: 30%;
}
.comp-title p {
  line-height: 1.2222;
}
.comp-content {
  float: left;
  width: 70%;
}
.demo-title h3 {
  margin: 0;
  font-size: 30px;
  text-align: right;
}
.demo-row {
  margin: 0 auto;
}
.demo-row:before,
.demo-row:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.demo-row:after {
  clear: both;
}
.demo-title {
  float: left;
  margin: -0.25em 20px 0;
  font: 700 24.5px/40px;
  width: 25%;
}
.demo-content {
  float: left;
  margin-left: 20px;
  width: 65%;
  max-width: 600px;
}
@media (max-width: 767px) {
  .demo-title h3 {
    text-align: left;
  }
  .demo-row {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    max-width: none;
  }
  .demo-col,
  .demo-content,
  .demo-content-wide,
  .demo-title {
    float: none;
    margin: 0 0 18px !important;
    padding: 0 !important;
    max-width: none;
    width: auto;
  }
}
